@{
    Layout = null;
    ViewData["Title"] = "Access Denied";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Acces Denied - ContactsApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<h2 class="text-danger">Access Denied</h2>
<p>You do not have permission to access this page.</p>

<a class="btn btn-primary mt-3" asp-controller="Home" asp-action="Index">Go to Home</a>
